.containerMain_body_rigth_summary {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 33px;
    justify-content: center;
    height: 196px;
    width: 236px;
    margin-right: 100px;
    background-color: #FAFAFA;
    border-radius: 10px;
    gap: 20px;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
}

.containerMain_body_rigth_summary strong {
    position: absolute;
    left: 25px;
    margin-top: 155px;
    font-size: 15px;
}

.containerMain_body_rigth_summary h5 {
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.line {
    position: relative;
    background-color: #EAEAEA;
    height: 1px;
    width: 90%;
}

.containerMain_body_rigth_summary strong {
    top: -30px;
    position: absolute;
}