.container_login {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.container_aside_login {
    display: flex;
}

.container_aside,
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50vw;
}

.link_signin {
    display: none;
}

@media (max-width:1000px) {
    .container_aside {
        display: none;
    }

    .link_signin {
        position: absolute;
        bottom: 0;
        display: flex;
    }
}

@media (max-width:400px) {
    .card_form {
        width: 90vw;
        height: 53.5rem;
        border: 0.1rem solid lightgrey;
        background-color: #fff;
        border-radius: 1rem;
    }

    .card_form_card {
        width: 100%;
    }
}

.container_aside h1 {
    font-family: Rubik;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 6.2rem;
    text-align: left;
    color: #fff;
}

.container_aside p {
    font-family: Rubik;
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 3.3rem;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 3.3rem;
    color: #fff;
}

.container_aside button {
    background: #7978D9;
    height: 5.2rem;
    width: 28.4rem;
    border-radius: 0.5rem;
    color: #fff;
    font-family: Rubik;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.7rem;
    text-align: center;
    margin-top: 4.3rem;
    margin-right: 31rem;
    cursor: pointer;
}

.container_aside button:hover {
    opacity: 0.9;
}

.container_aside span {
    color: #7978D9;
}


.card_form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 53.5rem;
    border: 0.1rem solid lightgrey;
    background-color: #fff;
    border-radius: 1rem;
}

.card_form_card {
    width: 100%;
}

.card_form h1 {
    font-family: Rubik;
    font-size: 2.8rem;
    font-weight: 500;
    color: #7978D9;
    margin-bottom: 4.8rem;
}

.card_form_labelInput {
    display: flex;
    gap: 1rem;
}

.card_form input {
    height: 6.3rem;
    width: 95%;
    margin-left: 1rem;
    margin-bottom: 4.1rem;
    border-radius: 0.5rem;
}

.card_form label {
    display: flex;
    margin-bottom: 1rem;
    color: #484848;
    margin-left: 1rem;
    font-family: Rubik;
    font-size: 1.8rem;
    font-weight: 400;
}

.card_form button {
    all: unset;
    height: 5.2rem;
    width: 95%;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7978D9;
    color: #fff;
}

button:hover {
    opacity: 0.9;
}

.card_form strong {
    position: absolute;
    bottom: 135px;
}